.my-img {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url(https://avatars.githubusercontent.com/u/156484668?v=4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 15rem;
    position: relative;
    transition: all 3s ease-in-out;
    width: 15rem;
    
}
@keyframes morph 
{
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
 
}

.body {
    background-image: url(https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg?w=996&t=st=1706205498~exp=1706206098~hmac=c1f8c811c5c3e2d2febd245df64b5270f8f7e45d6fdfd1122f0adc06ee135e73);
    background-repeat: repeat;
    background-size: cover;


}